

.layout{
    height:100%;
    width:100%;
  
    display:flex;
    flex-direction: column;
}

.header{
  min-height: 100px;
    background:white;
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 20px;;
    color:rgb(92, 78, 78);
    border-bottom:1px solid rgb(92, 78, 78, 0.3);
    position: sticky;
    top: 0;
    z-index:10;
    
}
.headerMinimized{
    min-height: 100px;
      background:rgb(244, 242, 242, 0.3);
      display: grid;
      grid-template-columns: 40% 60%;
      font-size: 20px;;
      color:rgb(92, 78, 78);
      border-bottom:1px solid rgb(92, 78, 78, 0.3);
      position: sticky;
      top: 0;
      z-index:10;
      transition: all 2s;
      
  }
  .logoFrame{
    display:flex;
  }
  .logoFrame img{
    width:80px;
    height:80px;
  }

.logoCaption{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoCaptionText1{

    color:rgb(218, 96, 9);
    font-weight: 900;
    font-size:40px;
    letter-spacing: 9px;
    animation:  fadeIn 5s, flash 600ms ease infinite alternate;
  
 }
.logoCaptionText2{

    font-size:12px;

    font-family: monospace;
    animation:  fadeIn 5s, flash 600ms ease infinite alternate;

}

.main{

display:flex;
flex-direction: column;
height:auto;
gap:2px;

    
}
.row{
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:25px;
    /* padding:10px; */
}

.parallaxrow{
    height:auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
   width:100vw;
    gap:120px;

    background-image:
    linear-gradient( rgba(245, 246, 252, 0.88), rgba(241, 240, 245, 0.88)),url("../resources/images/reminder.png");
    background-color: #473232;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.parallaxbutton{
    width:150px;
    height:40px;
    background: #ab7c2c;
    color:rgb(234, 229, 229);
    border:none;
    font-size: 15px;
    font-weight: 550;
  
}
.parallaxbutton:hover{
    opacity: 0.7;
    cursor: pointer;
    background: #a6781d;
    color:rgb(234, 229, 229);
}
.rowcard{
   height:500px;
   width: 49%;
border:1px solid rgba(235, 232, 232, 0.2);
}
.parallaxcard{
    height:500px;
    width: 49%;
 border:none;
}
.parallaxcard:hover{
    opacity: 0.9;

}
.carousel{
    height:800px;
    overflow:hidden;
    animation: fade 1.5s ease-in-out;
}
@keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
.wordcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}
.parallaxwordcontainer{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:100%;
   animation: flash 600ms ease infinite alternate;
}
.parallaxwordtitle{
    font-family: Georgia, serif;
    font-size: 25px;
    font-weight: 600;
    color:rgb(56, 66, 80);
}
.parallaxwordcontent{
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgb(57, 59, 80); 
    text-align: center;
    line-height: 27px;

}
.parallaxwordcontent:hover, .parallaxwordtitle:hover{
    opacity: 0.9;
}
.parallaxfonticon{
    font-size:45px;
    color:#b98a3a;
  
   height:100px;
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: pulse 2s infinite ease-in-out alternate, flash 500ms ease infinite alternate;
}


  @keyframes flash {
      from { opacity: 1; }	
      to { opacity: 0.8; }
  }

  @keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.0); }
  }
  
.parallaxfonticon:hover{
    color:#714b09;
    
    font-size:47px;
}
.wordtitle{
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: 400;
    color:rgb(186, 114, 32);
}
.wordcontent{
    font-family: DejaVu Sans Mono, monospace;
    font-size: 27px;
    font-weight: 400;
    color:rgb(176, 61, 61);   
}

.wordtitle:hover, .wordcontent:hover{opacity: 0.9;}
.rowparagraphtitle{
    font-family: Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 30px;
    border-bottom: 1px solid rgb(157, 154, 154);
    color:rgb(111, 135, 166);
    padding-bottom:30px;

}
.rowparagraphcontent{

    font-family: Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 30px;
    font-style: normal;
    font-size:18px;
    color:rgb(51, 42, 42);
    text-align: center;
   
   
}
.rowparagraph{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:80%;
   color:black;

}
.footer{
    height:auto;
    background:rgb(49, 49, 55);
    display: flex;
    flex-direction: column;
 justify-content: center;
    align-items:center;
    padding-left: 4%;
    padding-right:4%;
   
}
.footerUpper{
    display:flex;
align-items: center;
justify-content: space-between;
padding:50px;
    width:100%;
}

.footerLower{
    display: flex;
 
    justify-content:space-between;
    align-items: center;
    gap:10px;
    
   padding-bottom:5%;
}
.footercards{
    max-width:27%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding:10px;
    
   
 
}
.footerBundle{

}

.footerSub{
    display:flex;
    justify-content: space-between;
    align-items: center;
   color:white;
   font-size:12px;
   opacity: 0.7;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    border-top:1px solid rgb(208, 205, 205, 0.5);
}
.footercardslarge{
    
    height:100%;
    display:flex;
    flex-direction: column;  
    
 
}

.footercardstitle{
color:rgb(255, 255, 255);
width:100%;
padding-bottom:20px;
font-size:25px;
text-align: left;
font-weight: 600;

}
.footercardsbody{
display: flex;
line-height: 20px;
flex-direction: column;
font-size:13px;
gap:15px;

}
.footercolumns{
    display: flex;
    gap:8px;  
}

.footer_infos{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.footercolumns_infos{
    display:flex;
    gap:40px;
}
.columndivisions{
    line-height: 30px;
    font-size:15px;
   
}
.footerparagraph{
    color:rgb(189, 186, 186);
    font-size:13px;
    border-bottom: 1px solid rgb(179, 177, 177, 0.2);
}
.footerparagraph:hover{
    cursor:pointer;
    color:rgb(194, 151, 151);
 
}
.square{
    height: 100%;
  padding-left:2%; padding-right:2%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
 
}

.headerButton{
    background:rgb(218, 96, 9);
    border:none;
    width:200px;
    height:40px;
    border-radius: 19px;
    text-align: center;
    font-size:17px;
    font-weight:500;
   color:white;
   cursor:pointer;
   animation:  fadeIn 5s, flash 600ms ease infinite alternate;
   /* transition: transform .2s; */
}

.headerButton:hover{
    opacity:0.9;
    background:rgb(218, 96, 9);
}
.headerleft{
   
    padding-left:10%;
    display: flex;
    align-items:center;
  
}
.headermiddle{
    display: flex;
    align-items:center;
    /* justify-content:flex-end; */
    
}
.headerright{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.button{
    width:140px;
    height:40px;
    color:white;
    background: rgb(189, 35, 35);
    border:none;
    
}
.button:hover{
    opacity:0.9;
    cursor:pointer;
  
}

.square:hover{
    cursor:pointer;
  /* background:rgb(237, 232, 232); */
color:rgb(97, 171, 183);
}

.logo{
    display:flex;
 align-items: center;
 justify-content: center;
 height:100%;
 gap:20px;
}
.logotext{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo:hover{
    opacity:0.7;
    cursor: pointer;
}

.logoup{
    font-family: "Marker Felt", fantasy;
    font-style: Bold;
    font-variant:small-caps;
    font-weight: 900;
    color:rgb(147, 20, 20);

}
.logodown{
    font-family: "Lucida Handwriting", cursive;
}
.footlogoup{
    font-family: "Marker Felt", fantasy;
    font-style: Bold;
    font-variant:small-caps;
    font-weight: 900;
    color:rgb(253, 251, 251);

}
.footlogodown{
    font-family: "Lucida Handwriting", cursive;
    color:white;
}
.logofooter{
    width: 100%;
    text-align: center;
    color:rgb(223, 219, 219);
    font-weight: 500;
    font-family: "Impact", fantasy;
    font-style:bold;
    font-size:18px;
    cursor: pointer;
 
}

.footer img{
    float:left;
}

.logofooter:hover{
    opacity: 0.7;
}
.footeraddress{
   
   width:100%;
   text-align:justify;
   color:rgb(222, 218, 218);
}
.footeraddress:hover{
    opacity: 0.7;
}
.footerdescription{
    width:100%;
    word-wrap: break-word;
    text-align: justify;
   
    color:rgb(222, 218, 218);
    line-height: 25px;
  
}
.footerdescription:hover{
    opacity: 0.7;
}

.menuicon{

    display:none;
}

.socialmedia a{
    color:rgb(159, 157, 157);
    font-size: 30px;
    }
.socialmedia a:hover{
    color:rgb(235, 232, 232);
}
.socialmedia{
    display: flex;
   gap:15px;
}



.aboutus{

}

.overlay {
    position: absolute;

    width: 100%;
    height: 220%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  display:flex;
  justify-content: center;

 
  
  }

  .carouselContent{
    margin-top:100px;
    display:flex;
    flex-direction: column;
       animation:   flash 600ms ease infinite alternate;


  }
  .carouselLinks{
    font-family: monospace;
    font-size:20px;
    color:rgb(212, 152, 109);
  
  
  }
  .carouselButton button{
    
    width:150px;
    height:40px;
    border-radius: 10px;
    border:none;
    font-size:15px;
    background:rgb(218, 96, 9);
    color:white;
    text-align: center;
    cursor:pointer;


  }
  .carouselButton button:hover{
    opacity:0.8;
  }
.carouselText1{
    color:white;
    font-size:50px;
    font-weight:800;
    font-family: Lucida Sans;



}
.carouselText2{
    font-family: monospace;
    font-size:17px;
    font-weight: 500;
    color:white;
  
}
  .rowContent{

    width:100%;
    display:flex;
  overflow: hidden;

   /* background:blue; */
  
  }
  .rowTitle{
    font-size: 22px;
    font-weight:700;
    color:grey;
    text-align: center;
  }
  .rowParagraph{
    color:rgb(103, 102, 102);
  }
  .rowContentLeft{

    display:flex;
    flex-direction: column;
    justify-content: center;
padding-left: 1.5%;
    transition: transform .2s;
  }

  .rowContentRight{
    width:60%;
    /* overflow: hidden; */
  }

  @keyframes fadeIn {
    0% { opacity: 0;
    
    }
    100% { opacity: 1; 
     }
  }



  .rowHeading{
    font-size: 30px;
    font-weight:700;
    border-bottom: 1px solid rgb(226, 224, 224);
    color: grey;
    /* animation: my-animation 5s ; */
  }
  .rowContent2{

    width:100%;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-left:50px;
    padding-right:50px;
  
  }

  .contents{
    display:flex;
    flex-wrap: wrap;
    padding-top:30px;
    padding-bottom: 30px;
    align-items:center; 
    gap:5px;
    /* animation: my-animation 5s ; */
  }

  .services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(87, 62, 47);
    font-size: 15px;
    width:180px;
    height:130px;
    border:none;
    background:rgb(253, 253, 253);
    cursor:pointer;
    border-radius: 5px;
    animation:  fadeIn 5s, flash 600ms ease infinite alternate;
    transition: transform .2s;
  }
  .services:hover{
    background:rgb(236, 236, 236);
    transform: scale(1.05);
  }

  .services i{
   
    color:rgb(173, 172, 172);
    
  }
  .textUpper, .textLower{
    height:50%;
    display:flex;
    justify-content: center;
  }

  .textUpper i{
    font-size:34px;
    text-align: center;
   

  }

  .textUpper{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(154, 139, 127);
  }
  .textLower{
    color:rgb(118, 77, 27);
 
   font-size:16px;
   font-style:bold;
  }
  .textLower2{
    color:rgb(118, 77, 27);
 
   font-size:13px;
   font-style:bold;
  }
  .contentRight{
    width:30%;
    padding:20px;
    padding-top:30px;
    background:rgb(250, 250, 250);
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

  }
  .contentLeft{
    width:60%;
    padding:20px;
    padding-top:30px;
    display:flex;
    flex-direction: column;
    gap:10px; 
  }
  .rowHeading2{
    color:rgb(168, 168, 168);
    font-size: 25px;
font-weight:500;
}
.rowHeading3{
    color:rgb(168, 168, 168);
    font-size: 24px;
font-weight:500;
border-bottom: 1px dashed rgb(224, 223, 223);
}
  .contentLeftContent{
    display:flex;
    gap:5px;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  }
.applicationForms{

    width:90px;
    height:110px;
    background:rgb(246, 246, 246);
    border:none;
    border-radius: 5px;
    cursor:pointer;
    animation:  fadeIn 5s, flash 600ms ease infinite alternate;
    transition: transform .2s;
}
.applicationFormElastic{
    width:100%;
    background:rgb(197, 123, 66);
    padding:5px;
    color:white;
    letter-spacing: 7px;
    font-weight: 600;
    /* animation:  fadeIn 5s, flash 600ms ease infinite alternate; */
    animation:  fadeIn 5s, flash 600ms,  anim-popoutin 8s ease infinite;

}
.rateCaptions{
    width:100%;
color:rgb(197, 123, 66);
font-size: 20px;
letter-spacing: 5px;
font-weight: 800;
padding-top:10px;
animation: 1s anim-flipX ease infinite;
    /* animation:  fadeIn 5s, flash 600ms ease infinite alternate; */
}



  @keyframes anim-flipX {
    0% {
      opacity: 0;
      transform: rotateX(90def);
    }
    50% {
      opacity: 1;
      transform: rotateX(720deg);
    }
    100% {
      /* animate nothing to pause animation at the end */
      opacity: 1;
      transform: rotateX(720deg);
    }
  }
@keyframes flash {
    from { opacity: 1; }	
    to { opacity: 0.8; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} 
@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

  .lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

/* subtle zoom to attention and then back */
/* .pop-outin {
    animation: 2s anim-popoutin ease infinite;
  } */
  
  @keyframes anim-popoutin {
    0% {

      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    25% {
  
      transform: scale(0.9);
      opacity: 1;
      text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
    
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      /* animate nothing to add pause at the end of animation */
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
  }


@keyframse elastic{
    0%{ transform: scale(0.2)};
    100%{transform:scale(1)};
}
.applicationForms:hover{
    background:rgb(236, 236, 236);
    transform: scale(1.05);
}


  /* 5 start ratings */

  .rate {
    float: left;
    /* height: 46px; */
   
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */



@keyframes my-animation {
  from {
    opacity: 0;
    -moz-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
 
  }
  to {
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; 
  }
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}

.carousel{

  height:500px;
  overflow: hidden;
}




/* mobile view */

@media only screen and (max-width: 780px) {    
  /* .row{ 
   flex-direction: column;
}

.socialmedia{
justify-content: center;
}

.footer{
   flex-direction: column;
   gap:50px;
   padding: 10px;
  padding-bottom:10%;  
}
.footercards, .footercardslarge{
   width:100%;
  
}
.footercolumns{
   flex-direction: column;
}
.footeraddress{
   text-align:center;
}
.rowparagraphtitle{
   text-align: center;
   font-size: 25px;
   font-weight: 300;
}
.contentbuttons{
   flex-direction: column;
}
*/
.rateCaptions{
  text-align: center;
}
.rateContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselText1{
  font-size:30px;
  font-weight:400;
}
.carouselText2{
  font-size:10px;
  font-weight:200;
}

.rowTitle{
  text-align: center;
  
}
.carouselButton button{
    
  width:130px;
  height:30px;
}
.carouselContent{
  margin-top:30px;
}
.carousel{
  height:220px;
}

.headerleft{
padding:0;
}
.logoFrame img{
  width:70px;
  height:70px;
}
.logoCaptionText1{
  font-size: 30px;
}
.logoCaptionText2{
  font-size: 9px;
}
.header,.headerMinimized{
  
     grid-template-columns: 50% 50%;
     font-size: 18px;;   
 }
.menuicon{
   display:flex;
   justify-content:flex-end;
   align-items: center;
   font-size: 30px;
   margin-right:10px;
   cursor: pointer;
}
.headermiddle{
   display:none;
}
.menuicon:hover{
   opacity: 0.9;
   color:#978e8a;
} 
.header,.headerMinimized{
  
  grid-template-columns: 50% 50%;
  font-size: 18px;;   
}
.rowContentRight img{
  display:none;
}
.rowContent2{
  margin:0;
  padding:0;
}
.contents{

  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
}
.services{
 width:100px;

}
.row{ 
  flex-direction: column;
  padding:10px;

}
.contentRight{
  width:100%;
  padding:0;
  margin:0;
}
.rowHeading3, .rowHeading{
  text-align: center;
  font-size:22px;
}
.contentLeft{
  width:100%;
 padding:0;
 padding-top:40px;
 justify-content: center;
}
.rowParagraph{
  text-align: center;
}
.lineUp{
  text-align: center;
  font-size:12px;
}
.contentLeftContent{

width:100%;

}
.applicationForms{
  width:48%;

}
.rowContent{
  flex-direction: column;
  
}

.rowContent2, .rowContent{
  padding-top:20px;
}
.footer{
  width:100%;
  padding: 0;
  height:auto;
}
.footerUpper{
  padding:0;
  width:100%;
  display:flex;
  flex-direction:column;
  gap:20px;
}
.socialmedia{
  width:100%;
  padding:0;
  display:flex;
  justify-content: center;
  padding-top:10px;
  padding-bottom:10px;
}

.socialmedia i{
  font-size: 40px;
  padding:0;
  padding:10px;

}

.footerLower{
width:100%;

padding:0;
flex-direction: column;
gap:50px;
}
.footercards{
 
  max-width:100%;
  padding:0;

}
.footercardstitle{
  text-align: center;
  padding:0;
}

.footerdescription{
  text-align: center;
  padding:0;
}
.footerSub{

/* padding-top:20px;
padding-bottom: 20px; */
/* gap:20px; */
flex-direction: column;
align-items: center;
justify-content:center;
}

}
